CompileFlags:
  Add: [
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/crc/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/program_options/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/uuid/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/algorithm/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/core/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/type_traits/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/mpl/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/preprocessor/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/static_assert/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/throw_exception/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/bind/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/lexical_cast/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/any/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/type_index/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/container_hash/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/function/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/smart_ptr/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/range/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/iterator/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/exception/include",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/filesystem/include/",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/system/include/",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/mp11/include/",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/io/include/",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/detail/include/",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/container/include/",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/move/include/",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/config/include/",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/build/_deps/boost-src/libs/assert/include/",
    "-I/home/nikolaigrin/course/CPlusPlus-Developer.-Professional/HW_8/include/",
    "-std=c++20"
  ]
